/* TODO: minify */

/* permit the logo to be a non-square */
/* we prioritize this class over the theme's by adding an overkll */
/* amount of selectors, which is preferred to !important */
/*  * https://www.hungred.com/useful-information/css-priority-order-tips-tricks/ */
body header nav a#m-navbar-brand img {
	width: initial;
	height: 3.5rem;
	margin-top: 5px;
}

ol.bottompad li {
	margin-bottom: 1em;
}

div.socialicons {
	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap:wrap;
}

div.m-block.m-badge.m-success div.socialicons img {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: initial;
	margin: 0.2rem;
}

div.m-button a.share img {
	height:1.5em;
	margin-right:1em;
	vertical-align:middle;
}

div.m-button a.share.facebook {
	background-color: #0f4887;
}
div.m-button a.share.facebook:hover {
	background-color: #3b6596;
}

div.m-button a.share.twitter {
	background-color: #1da1f2;
}
div.m-button a.share.twitter:hover {
	background-color: #56b6f2;
}

/*
 * just experimenting with stuff here
 *
 **************************************

body header nav div#m-navbar-collapse {
    font-weight: bold;
}

:root {
    --font: 'Liberation Sans', sans-serif;
    --nav-brand-case: uppercase;
    --nav-menu-case: uppercase;
    --nav-heading-case: uppercase;
    --nav-categories-case: uppercase;
}
 
 **************************************/
